@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --pinky: #fbe3e8;
  --blue-greeny: #5cbdb9;
  --teeny-greeny: #ebf6f5;

  --primary-text: #07504d;
  --secondary-text: #1f7f7b;
  --ternary-text: #5cbdb9;
}

html {
  margin: 0;
  padding: 0;
}
